@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&display=swap');

body{
  background-color: #f7f7f7;
  overflow-x: hidden;
  font-family: poppins;
  min-height: 100vh;
  position: relative;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}